
/* Core Stuff */

:root {
    --init_back: #1599BD;
    --smooth_transition: all 0.25s cubic-bezier(.6,.11,.4,1);
}

body {
    background-color: var(--init_back);
    transition: background-color 1s ease;
    margin: 0;
}

div {
    transition: background-color 1s ease;
}

.centered-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.split-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Colour changing section stuff */
.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    padding-top: 11vh;
}


/* Site Traversal Stuff */
.menu-button-container {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0px);
    background-color: var(--init_back);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin-top: 2vh;
    z-index: 5;
    width: 40vw;
    min-width: fit-content;
}
@media only screen and (max-width: 768px) {
    .menu-button-container {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        transform: none;
    }
}

.menu-button-container button {
    font-size: 3.5vmin;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    padding: 1vh;
    background-color: transparent;
    border: none;
    margin: 2vh;
    cursor: pointer;
    display: none;
}

.menu-button-container button:hover {
    opacity: 0.6;
}

.top-arrow {
    position: fixed;
    top: 90%;
    left: 95%;
    transform: translate(-50%, -50%);
    z-index: 5;
    border: solid;
    border-radius: .35vmin;
    border-width: 0 .5vmin .5vmin 0;
    padding: .5vmin;
    transform: scale(5) rotate(-135deg);
    -webkit-transform: scale(5) rotate(-135deg);
    background-color: transparent;
    cursor: pointer;
    display: none;
}
@media only screen and (max-width: 768px) {
    .top-arrow {
        left: 93%;
        border-width: 0 .6vmin .6vmin 0;
    }
}

.top-arrow:hover {
    opacity: 0.6;
}


/* General Stuff for the Sections */

h1 {
    font: bold 10vmin sans-serif;
    margin: 0;
    white-space: nowrap;
}

.text-box {
    height: fit-content;
    border-radius: 5vmin;
    border: 3vmin solid;
    padding: 1vmin;

    color: white;
    font-family: sans-serif;
    font-size: 3vmin;
}

.image-container {
    position: relative;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    margin-left: 5vw;
    z-index: 0;
}

.image-container::after {
    content: '';
    position: absolute;
    top: 1.5vmin;
    left: 1.5vmin;
    right: -2.2vmin;
    bottom: -1.6vmin;
    border: 3px solid;
    border-top: none;
    border-left: none;
    border-radius: 1.7vh;
    transition: var(--smooth_transition);
    z-index: -1;
}

.image-container:hover::after {
    right: -1.6vmin;
    bottom: -1.2vmin;
}

.connectors {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.connectors path {
    stroke-width: 2vh;
}


/* Top Section Stuff */
:root {
    --name_colour: #e3af8d;
}

.section#top {
    padding-top: 40vh;
}

@media only screen and (max-width: 768px) {
    .section#top { 
        padding-top: 0;
        min-height: 80vh;
    }
}

#name { /* my name at the top */
    font-size: 25vmin;
    font-family: sans-serif;
    line-height: 0.9;
    font-weight: bold;
    text-align: center;
    color: var(--name_colour);
    -webkit-text-stroke-width: 2px;
}

#title { /* the bit that says im a software engineer etc */
    font-size: 6vmin;
    font-family: sans-serif;
    line-height: 0.3;
    text-align: center;
    color: var(--name_colour);
    -webkit-text-stroke-width: 2px;
}

.parallax-main, .parallax-overlay {
    -webkit-text-fill-color: var(--name_colour);
    background-color: transparent;
}

.parallax-overlay {
    position: absolute;
    display: none;
}

.outlined-text {
    -webkit-text-fill-color: transparent;
}

.parallax-wrapper {
    position: relative;
    overflow: hidden;
    height: 10vmin;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .parallax-wrapper {
        display: none;
    }
}


/* About Section Stuff */
:root {
    --about_color: #158472;
}

#about .split-container {
    width: 80%;
}

@media only screen and (max-width: 768px) {
    #about .split-container {
        width: 90%;
    }
}

#about h1 {
    color: var(--about_color);
}

#about .text-box {
    width: 80%;
    background-color: var(--about_color);
    border-color: var(--about_color);
}

#about .text-box ul {
    margin: 0;
    margin-top: 2vmin;
    padding-left: 3.3vw;
}

#about .image-container::after{
    border-color: var(--about_color);
}
  
#about img {
    max-height: 70vh;
    max-width: 48vw;
    width: auto;
    border-radius: 1.7vh;
}
  

/* Portfolio Section Stuff */
:root {
    --portfolio_color: #14b2b8;
}

#portfolio h1 {
    color: var(--portfolio_color);
}

#portfolio .project {
    position: relative;
    min-height: 50vh;
    width: 90%;
}
@media only screen and (max-width: 768px) {
    #portfolio .project {
        width: 95%;
    }
}

.project .text-box {
    width: 40%;
    background-color: var(--portfolio_color);
    border-color: var(--portfolio_color);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
@media only screen and (max-width: 768px) {
    .project .text-box {
        width: 70%;
    }
}

.project .text-box h2 {
    font-size: 4vmin;
    font-weight: bold;
}

.project img {
    width: auto;
    border-radius: 1.5vh;
    position: relative;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.project .text-box, .project img {
    transition: transform 0.4s ease;
    max-width: 100vw;
}

.project .text-box.hovered {
    transform: translate(-50%, -50%) scale(0.75);
}
@media only screen and (max-width: 768px) {
    .project .text-box.hovered {
        transform: translate(-50%, -50%) scale(0.82);
    }
}

.project img.hovered {
    transform: translate(-50%, -50%) scale(2);
    z-index: 3;
}

#portfolio .connectors path {
    position: absolute;
    stroke: var(--portfolio_color);
    fill: none;
    animation: drawPath 3s linear infinite;
}

@keyframes drawPath {
    to {
      stroke-dashoffset: 0;
    }
}

.project#team_project {
    height: 80vh;
}
.project#team_project img#img0 {
    left: 13%; top: 20%; height: 20%;
}
.project#team_project img#img1 {
    left: 68%; top: -10%; height: 20%;
}
@media only screen and (max-width: 768px) {
    .project#team_project img#img0 {
        left: 45%; top: -7%; width: 80%; height: auto;
    }
    .project#team_project img#img1 {
        left: 55%; top: 35%; width: 80%; height: auto;
    }
}


.project#image_rectification {
    height: 100vh;
}
.project#image_rectification .text-box {
    top: 35%;
}
.project#image_rectification img#img0 {
    left: 20%; top: -30%; height: 20%;
}
.project#image_rectification img#img1 {
    left: 60%; top: 40%; height: 30%;
}
@media only screen and (max-width: 768px) {
    .project#image_rectification {
        height: 90vh;
    }
    .project#image_rectification .text-box {
        top: 50%;
    }
    .project#image_rectification img#img0 {
        left: 40%; top: 0%; width: 70%; height: auto;
    }
    .project#image_rectification img#img1 {
        left: 53%; top: 37%; width: 85%; height: auto;
    }
}



/* Contact Me Section Stuff */

#contactme h2, #contactme h3 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font: 4vmin sans-serif;
    color: white;
}

#contactme h3 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font: 3vmin sans-serif;
    color: white;
}

.email-button {
    background-color: transparent;
    font: 5vmin sans-serif;
    color: white;
    border: 1px solid white;
    border-radius: 1.5vh;
    padding: 3vh;
    text-decoration: none;
    transition: background-color 0.2s ease, transform 0.2s ease;
    cursor: pointer;
}

.email-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.email-button.clicked {
    transform: scale(0.85);
}
  
.download-button {
    background-color: white;
    border-radius: 9999px;
    font: 3vmin sans-serif;
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    transition: background-color 0.4s ease, transform 0.2s ease;
}

.download-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
  
  
/* Footer */

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    height: 5vh;
    width: 100%;
    color: var(--init_back);
    font: 100% sans-serif;
}